## Python statistics essential training - 04_06_challenge

Standard imports

In [1]:
import math
import io

In [2]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as pp

%matplotlib inline

In [3]:
import scipy.stats
import scipy.optimize
import scipy.spatial

In [4]:
pop = pd.read_csv('grades.csv')

In [5]:
pop.head()

      grade
0  3.648651
1  5.959915
2  7.387370
3  4.047515
4  2.846912

In [6]:
passing = pop[pop['grade']>5]